<section class="about--section">
    <div class="row">
        <div class="col-md-12 aboutme--section">
            <h5 id="about-me">About Myself</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 portrait--col">
            <img src="/assets/img/portrait.png">
        </div>
        <div class="col-sm-4 col-md-4 blurb--paragraph">
            <p>My name is <strong>Neil Jason Santos</strong>, and I am a Computer Science student at <strong>Ryerson University</strong>. While my program covered a lot of different topics, I mainly focused on <strong>Front-End Development</strong>, <strong>UI Design/Usability Issues</strong>, and <strong>Robotics</strong>. I am frequently learning new things in Front-End Development and at the same time I apply and practice what I've learned to improve my current knowledge in the field. While I am not busy from school, work, and programming, I find myself playing video games or reading comics.  </p>
        </div>
        <div class="col-sm-4 col-md-4 skills--bar">
            <div class="skill--lockup">
                <div class="skill-unit">Programming</div>
                <div class="skill-icon rate-9">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                
                <div class="skill-unit">Graphic Design</div>
                <div class="skill-icon rate-5">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                
                <div class="skill-unit">Communication</div>
                <div class="skill-icon rate-7">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                
                <div class="skill-unit">Learning</div>
                <div class="skill-icon rate-8">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                
                <div class="skill-unit">UI Design</div>
                <div class="skill-icon rate-8">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            
        </div>
    </div>
</section>