<section class="contact-section">
    <div class="row">
        <h5 id=contact class="contact-title">Contact Me</h5>
    </div>
    <form method="POST" action="http://formspree.io/njsantos.dev@gmail.com">
        <div class="contact-info-group">
            <label><span>Your Name</span>
                <input type="text" name="name"></label>
            <label><span>Your E-Mail</span>
                <input name="email" type="email"></label>
        </div>    
        <label><span>Tell Me About Your Project</span>    
                <textarea name="message"></textarea></label>
        <button type="submit">Send</button>
        
    </form>
</section>