<section class="projects--section">
   <div class="row">
        <div class="col-md-12 projects--title">
            <h5 id="projects">Projects</h5>
        </div>
   </div>
   <div class="row">
       <div class="col-md-6 tony--img">
            <img src="/assets/img/tony-1.png" class="fancybox">
       </div>
       <div class="col-md-6 tony--blurb">
           <p>I did a quick website draft for my friend's business. I implemented a quick homepage site for it with basic logo, navigation bar, and a dynamic jumbotron to highlight the pictures of his products. Since he said that he won't be needing a website as of right now since he is waiting for his business to grow first, I stopped doing this project and focused on other things.</p>
       </div>
   </div>
   <div class="row">
       <div class="col-md-6 ui--blurb">
           <p>
               This is an interesting project because we were assigned to make a User Interface for a "Smart Home" application and it is intended for users that have disabilities, to be specific, people with ALS. They are required to manage around their homes with this ease and this application should help them do that with the use of their wheelchair's sip and puff. This project has thought me proper techniques for UI design, Prototyping , and Usability Testing.
           </p>
       </div>
       <div class="col-md-6 ui--img">
            <img src="/assets/img/Usability-Project.png" class="fancybox">
       </div>
   </div>
   <div class="row">
       <div class="col-md-6 robot-video">
           <video controls>
               <source src="/assets/vid/robot.mp4">
               Your browser does not support HTML5 video
           </video> 
       </div>
       <div class="col-md-6 robot-blurb">
           <p>
               This is our final project for our robotics class. Since there is no specified task that the robot has to do, the possibilities were endless on what we can build in this final project. We decided to make a Candy Sorter Robot which basically sorts out the colors of candies and put them in their respective containers while roaming around the table avoiding its own fall and stopping when it sees a person infront of it. We used a sensors such as RGB sensor for sorting the candy, Ultrasonic sensors and IR sensors to sense if the robot reached the edge of the table and if there is a person infront of the robot. We used a servo motor to move the dispensing arm to the proper container and a stepper motor to move the candies that are being scanned inside.
           </p>
       </div> 
   </div>    
</section>