<section class="social--section">
    <div class="row">
        <div class="col-md-12 social--title">
            <h5 id="social-media">Social Media</h5>
        </div>
    </div>
    <div class="row important--icons">
        <div class="col-xs-4 col-sm-4 git-icon">
            <a target="_blank" href="https://github.com/dev-njsantos"><img src="/assets/img/icons/git.png"></a>
        </div>
        <div class="col-xs-4 col-sm-4 linked-icon">
            <a target="_blank" href="https://ca.linkedin.com/in/njsantosdev"><img src="/assets/img/icons/linked.png"></a>
        </div>
        <div class="col-xs-4 col-sm-4 twitter-icon">
            <a target="_blank" href="https://twitter.com/njsantos_dev"><img src="/assets/img/icons/twitter.png"></a>
        </div>
    </div>
</section>